/* nav {
	background-color: aquamarine;
}
.header {
	width: 80%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header h2{
    color: blueviolet;
}
.header a{
    text-decoration: none;
} */
